# LLM Provider Configuration
# Choose one of: nim, groq, openrouter, ollama
LLM_PROVIDER=openrouter

# API Keys (Provide keys for the providers you plan to use)
NIM_API_KEY=your_nvidia_nim_api_key_here
GROQ_API_KEY=your_groq_api_key_here
OPENROUTER_API_KEY=
SERPAPI_API_KEY=your_serpapi_api_key_here
TAVILY_API_KEY=8F
NEWS_API_KEY=

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=bloggraph_ai
MONGODB_COLLECTION_TOPICS=topics
